* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#textContainer {
  position: relative;
  width: 200px;
  height: 200px;
}

#textContainer p {
  /* Text horizontal zentrieren*/
  width: 100%;
  text-align: center;
  padding: 10px;
  /*Text vertikal zentrieren*/
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.gold {
  background-color: goldenrod;
}

.blue {
  background-color: skyblue;
}

.pink {
  background-color: pink;
}

.green {
  background-color: limegreen;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}
